@import './App.css';
@import './variable.css';

/* ========================================== */
/* resetting css   */

* , *::after , *::before {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* ========================================== */




/* dark mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
