.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 33rem;
  --slide-radius: 30px;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  position: relative;
}
.embla__slide {
  // flex: 0 0 var(--slide-size);
  min-width: 0;
  position: relative;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);

  width: 100%;
  object-fit: cover;
}

// dot style
.embla__dot {
  display: flex;
  align-items: center;
  touch-action: manipulation;
  cursor: pointer;
}
.embla__dots {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__dot:after {
  background: #263450;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  content: "";
}
.embla__dot--selected:after {
  background: #0099ff;
}
