.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 33rem;
  --slide-radius: 30px;
  // padding: 1.6rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  position: relative;
  // margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  // padding-left: var(--slide-spacing);
  // border-radius: var(--slide-radius);
  position: relative;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  // border-radius: var(--slide-radius);
  width: 100%;
  object-fit: cover;
}

.embla__buttons {
  display: flex;
  justify-content: space-between !important;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 80%;
  // gap: 50px;
}

// image pagination  style
// .image_pagination {
//   --border-size: 5px;
//   @extend .embla__dots;
//   top: 400px;
//   height: 80px;
//   img {
//     object-fit: cover;
//     height: 100%;
//     border: var(--border-size) solid #fff;
//   }
// }
// dot style

.embla__dot {
  display: flex;
  align-items: center;
  touch-action: manipulation;
  cursor: pointer;
}
.embla__dots {
  z-index: 1;
  bottom: 1.6rem;
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2;
}

.embla__dot:after {
  background: #989898;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  content: "";
}
.embla__dot--selected:after {
  background: #df6e44;
}
