.item-card {
  width: 280px;
}

.ant-spin {
  color: #fff !important;
}

.ant-btn-primary,
.primary-btn {
  --tw-bg-opacity: 1;
  background-color: rgb(2 132 199) !important;
  color: #f1f1f1;
  height: 2.5rem;
}

.secondary-btn {
  background-color: rgb(223 110 68);
  color: #f1f1f1;
  height: 2.5rem;
  &:hover {
    background-color: rgb(229 136 102);
    color: #fff !important;
    border: 1px solid rgb(229 136 102) !important;
  }
}

.bg-default {
  background-color: #EEF1FF;
}

.image-object-fit {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.centralise {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a:where(.css-dev-only-do-not-override-1lp5z9r).ant-typography, :where(.css-dev-only-do-not-override-1lp5z9r).ant-typography {
  .text-danger {
    color: red;
  }
}
