@import './App.scss';
@import './variable.scss';

/* ========================================== */
/* resetting css   */

* , *::after , *::before {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* ========================================== */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Objective';
  font-weight: bold;
  font-style: normal;
}

p {
  font-family: 'Objective';
  font-weight: normal;
  font-style: normal;
}

/* dark mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
