.search-bar {
  width: 150px;
  &:focus-within {
    width: 200px;
  }
}

// take device width for mega menu content
.dropdown {
  .dropdown-content {
    width: 80dvw;
    // display: none;
    line-height: 3; // for space between each item list in the mega menu
  }
}
//  class for mega menu animation
.nav-menu {
  visibility: hidden;
  opacity: 0.50;
  top: 30px;
}
.show {
  transition: all 0.6s ease;
  visibility: visible;
  top: 40px;
  opacity: 1;
}
