.search-bar {
  width: 150px;
  &:focus-within {
    width: 200px;
  }
}

// take device width for mega menu content
.dropdown {
  .dropdown-content {
    width: 80dvw;
    line-height: 3; // for space between each item list in the mega menu
  }
}
