.ant-upload-wrapper,
.ant-upload-list {
  height: 100% !important;
}
.ant-upload {
  width: 100% !important;
  height: 100% !important;
//   display: none !important;
}
.ant-upload-list-item-container {
  width: 100% !important;
  height: 100% !important;
}
.img-crop-modal .ant-btn-primary {
  background-color: rgb(2 132 199);
  color: #f1f1f1;
}