.dashboard-sidebar {
  .sidebar-item {
    color: #bab0a0;
    transition: all 0.2s ease-out;
    &:not(.active):hover {
      color: #f0d924;
      background-color: #0091;
    }
    &.active {
      color: #f0d924;
      background-color: #778951;
    }
  }
}
